{% extends "blog/layout.html" %}

{% block title %}{{ post.title }} | {% endblock %}

{% block body %}
    <section class="hero ">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <figure class="image is-16by9">
                        <img src="../images/first-post.png" alt="">
                        </figure>
                    </div>
                </div>
                <section class="section">
                    <div class="columns">
                        <div class="column is-8 is-offset-2">
                                <div class="content is-medium">
                                        <h2 class="subtitle is-4">{{ post.created_at | date:'D-M-Y'}}</h2>
                                        <h1 class="title">{{ post.title }}</h1>
                                            <p>{{ post.intro }}</p>
                                            <p>{{ post.body }}</p>
                                </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
{% endblock %}